In [3]:
import numpy as np
import pandas as pd
import plotly.express as px
import regex as re

(FIX ME: MAKE IT WORD GOOD)


First things first, we acknowledge that our data is number encoded. While this is optimal for surveying, we would like to see what all the numbers mean. We will begin by making a dictionary that will contain the name of a categorical feature and the corresponding numbers of the possible options of that feature:

In [4]:
features_dict = {"Marital status": "1 – single 2 – married 3 – widower 4 – divorced 5 – facto union 6 – legally separated",
                 
                 "Application mode": "1 - 1st phase - general contingent 2 - Ordinance No. 612/93 5 - 1st phase - special contingent (Azores Island) 7 - Holders of other higher courses 10 - Ordinance No. 854-B/99 15 - International student (bachelor) 16 - 1st phase - special contingent (Madeira Island) 17 - 2nd phase - general contingent 18 - 3rd phase - general contingent 26 - Ordinance No. 533-A/99, item b2) (Different Plan) 27 - Ordinance No. 533-A/99, item b3 (Other Institution) 39 - Over 23 years old 42 - Transfer 43 - Change of course 44 - Technological specialization diploma holders 51 - Change of institution/course 53 - Short cycle diploma holders 57 - Change of institution/course (International)",
                 
                 "Course": "33 - Biofuel Production Technologies 171 - Animation and Multimedia Design 8014 - Social Service (evening attendance) 9003 - Agronomy 9070 - Communication Design 9085 - Veterinary Nursing 9119 - Informatics Engineering 9130 - Equinculture 9147 - Management 9238 - Social Service 9254 - Tourism 9500 - Nursing 9556 - Oral Hygiene 9670 - Advertising and Marketing Management 9773 - Journalism and Communication 9853 - Basic Education 9991 - Management (evening attendance)",
                 
                 "Daytime/evening attendance": "1 – daytime 0 - evening",
                 
                 "Previous qualification": "1 - Secondary education 2 - Higher education - bachelor's degree 3 - Higher education - degree 4 - Higher education - master's 5 - Higher education - doctorate 6 - Frequency of higher education 9 - 12th year of schooling - not completed 10 - 11th year of schooling - not completed 12 - Other - 11th year of schooling 14 - 10th year of schooling 15 - 10th year of schooling - not completed 19 - Basic education 3rd cycle (9th/10th/11th year) or equiv. 38 - Basic education 2nd cycle (6th/7th/8th year) or equiv. 39 - Technological specialization course 40 - Higher education - degree (1st cycle) 42 - Professional higher technical course 43 - Higher education - master (2nd cycle)",
                 
                 "Nacionality": "1 - Portuguese; 2 - German; 6 - Spanish; 11 - Italian; 13 - Dutch; 14 - English; 17 - Lithuanian; 21 - Angolan; 22 - Cape Verdean; 24 - Guinean; 25 - Mozambican; 26 - Santomean; 32 - Turkish; 41 - Brazilian; 62 - Romanian; 100 - Moldova (Republic of); 101 - Mexican; 103 - Ukrainian; 105 - Russian; 108 - Cuban; 109 - Colombian",
                 
                 "Mother's qualification": "1 - Secondary Education - 12th Year of Schooling or Eq. 2 - Higher Education - Bachelor's Degree 3 - Higher Education - Degree 4 - Higher Education - Master's 5 - Higher Education - Doctorate 6 - Frequency of Higher Education 9 - 12th Year of Schooling - Not Completed 10 - 11th Year of Schooling - Not Completed 11 - 7th Year (Old) 12 - Other - 11th Year of Schooling 14 - 10th Year of Schooling 18 - General commerce course 19 - Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv. 22 - Technical-professional course 26 - 7th year of schooling 27 - 2nd cycle of the general high school course 29 - 9th Year of Schooling - Not Completed 30 - 8th year of schooling 34 - Unknown 35 - Can't read or write 36 - Can read without having a 4th year of schooling 37 - Basic education 1st cycle (4th/5th year) or equiv. 38 - Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv. 39 - Technological specialization course 40 - Higher education - degree (1st cycle) 41 - Specialized higher studies course 42 - Professional higher technical course 43 - Higher Education - Master (2nd cycle) 44 - Higher Education - Doctorate (3rd cycle)",
                 
                 "Father's qualification": "1 - Secondary Education - 12th Year of Schooling or Eq. 2 - Higher Education - Bachelor's Degree 3 - Higher Education - Degree 4 - Higher Education - Master's 5 - Higher Education - Doctorate 6 - Frequency of Higher Education 9 - 12th Year of Schooling - Not Completed 10 - 11th Year of Schooling - Not Completed 11 - 7th Year (Old) 12 - Other - 11th Year of Schooling 13 - 2nd year complementary high school course 14 - 10th Year of Schooling 18 - General commerce course 19 - Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv. 20 - Complementary High School Course 22 - Technical-professional course 25 - Complementary High School Course - not concluded 26 - 7th year of schooling 27 - 2nd cycle of the general high school course 29 - 9th Year of Schooling - Not Completed 30 - 8th year of schooling 31 - General Course of Administration and Commerce 33 - Supplementary Accounting and Administration 34 - Unknown 35 - Can't read or write 36 - Can read without having a 4th year of schooling 37 - Basic education 1st cycle (4th/5th year) or equiv. 38 - Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv. 39 - Technological specialization course 40 - Higher education - degree (1st cycle) 41 - Specialized higher studies course 42 - Professional higher technical course 43 - Higher Education - Master (2nd cycle) 44 - Higher Education - Doctorate (3rd cycle)",
                 
                 "Mother's occupation": "0 - Student 1 - Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers 2 - Specialists in Intellectual and Scientific Activities 3 - Intermediate Level Technicians and Professions 4 - Administrative staff 5 - Personal Services, Security and Safety Workers and Sellers 6 - Farmers and Skilled Workers in Agriculture, Fisheries and Forestry 7 - Skilled Workers in Industry, Construction and Craftsmen 8 - Installation and Machine Operators and Assembly Workers 9 - Unskilled Workers 10 - Armed Forces Professions 90 - Other Situation 99 - (blank) 122 - Health professionals 123 - teachers 125 - Specialists in information and communication technologies (ICT) 131 - Intermediate level science and engineering technicians and professions 132 - Technicians and professionals, of intermediate level of health 134 - Intermediate level technicians from legal, social, sports, cultural and similar services 141 - Office workers, secretaries in general and data processing operators 143 - Data, accounting, statistical, financial services and registry-related operators 144 - Other administrative support staff 151 - personal service workers 152 - sellers 153 - Personal care workers and the like 171 - Skilled construction workers and the like, except electricians 173 - Skilled workers in printing, precision instrument manufacturing, jewelers, artisans and the like 175 - Workers in food processing, woodworking, clothing and other industries and crafts 191 - cleaning workers 192 - Unskilled workers in agriculture, animal production, fisheries and forestry 193 - Unskilled workers in extractive industry, construction, manufacturing and transport 194 - Meal preparation assistants",
                 
                 "Father's occupation": "0 - Student 1 - Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers 2 - Specialists in Intellectual and Scientific Activities 3 - Intermediate Level Technicians and Professions 4 - Administrative staff 5 - Personal Services, Security and Safety Workers and Sellers 6 - Farmers and Skilled Workers in Agriculture, Fisheries and Forestry 7 - Skilled Workers in Industry, Construction and Craftsmen 8 - Installation and Machine Operators and Assembly Workers 9 - Unskilled Workers 10 - Armed Forces Professions 90 - Other Situation 99 - (blank) 101 - Armed Forces Officers 102 - Armed Forces Sergeants 103 - Other Armed Forces personnel 112 - Directors of administrative and commercial services 114 - Hotel, catering, trade and other services directors 121 - Specialists in the physical sciences, mathematics, engineering and related techniques 122 - Health professionals 123 - teachers 124 - Specialists in finance, accounting, administrative organization, public and commercial relations 131 - Intermediate level science and engineering technicians and professions 132 - Technicians and professionals, of intermediate level of health 134 - Intermediate level technicians from legal, social, sports, cultural and similar services 135 - Information and communication technology technicians 141 - Office workers, secretaries in general and data processing operators 143 - Data, accounting, statistical, financial services and registry-related operators 144 - Other administrative support staff 151 - personal service workers 152 - sellers 153 - Personal care workers and the like 154 - Protection and security services personnel 161 - Market-oriented farmers and skilled agricultural and animal production workers 163 - Farmers, livestock keepers, fishermen, hunters and gatherers, subsistence 171 - Skilled construction workers and the like, except electricians 172 - Skilled workers in metallurgy, metalworking and similar 174 - Skilled workers in electricity and electronics 175 - Workers in food processing, woodworking, clothing and other industries and crafts 181 - Fixed plant and machine operators 182 - assembly workers 183 - Vehicle drivers and mobile equipment operators 192 - Unskilled workers in agriculture, animal production, fisheries and forestry 193 - Unskilled workers in extractive industry, construction, manufacturing and transport 194 - Meal preparation assistants 195 - Street vendors (except food) and street service providers",
                 
                 "Displaced": "1 – yes 0 – no",
                 
                 "Educational special needs": "1 – yes 0 – no",
                 
                 "Debtor": "1 – yes 0 – no",
                 
                 "Tuition fees up to date": "1 – yes 0 – no",
                 
                 "Gender": "1 – male 0 – female",
                 
                 "Scholarship holder": "1 – yes 0 – no",
                 
                 "International": "1 – yes 0 – no"
                 
}

Now, we will read in the data and print its head:

In [5]:
raw_data = pd.read_csv('data.csv', sep = ';')
df_raw = raw_data.copy()
pd.set_option('display.max_columns', None) # Ensures we can see all columns
df_raw.info() # Shows data types
df_raw.head() # Shows first five rows to get a sense of whats going on

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,5,9,127.3,1,0,0,1,1,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,3,3,142.5,1,0,0,0,1,0,19,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,9,9,124.8,1,0,0,0,1,0,19,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,5,3,119.6,1,0,0,1,0,0,20,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,9,9,141.5,0,0,0,1,0,0,45,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

Something we noticed is that the "Daytime/evening attendance" column is formatted quite weirdly with the "\t" at the end. Let's fix that and also start grouping up all of the categorical columns:

In [6]:
# Renaming Daytime/evening attendance column
df_raw_2 = df_raw.rename({'Daytime/evening attendance\t': 'Daytime/evening attendance'}, axis=1)

# Group up all the categorical variable columns
cat_cols = [0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20] # Index numbers
cat_col_names = [df_raw_2.columns[i] for i in cat_cols] # Gathering the names

# Ensure that the names we gathered are of type string
for col in cat_col_names:
    df_raw_2[col] = df_raw_2[col].astype(str)

Now, let's use regular expressions alongside our features dictionary to begin the process of making these numbers mean something:

In [7]:
### FIX ME: Thomas add comments to explain what this code does, b/c me (Andres) don't understand.

replace_dicts = dict()
for col in cat_col_names:
    text = features_dict[col]
    labels = re.split(";? ?([0-9]+) [-–] ", text)[1:]
    names_dict = {labels[2*k]: labels[2*k+1] for k in range(len(labels) // 2)}
    replace_dicts[col] = names_dict

df_raw_3 = df_raw_2.copy()

for col in cat_col_names:
    df_raw_3[col] = df_raw_3[col].replace(replace_dicts[col])

Let's see, what the new data frame looks like after those changes:

In [8]:
df_raw_3.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,single,2nd phase - general contingent,5,Animation and Multimedia Design,daytime,Secondary education,122.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Other - 11th Year of Schooling,"Personal Services, Security and Safety Workers...",Unskilled Workers,127.3,yes,no,no,yes,male,no,20,no,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,single,International student (bachelor),1,Tourism,daytime,Secondary education,160.0,Portuguese,Secondary Education - 12th Year of Schooling o...,Higher Education - Degree,Intermediate Level Technicians and Professions,Intermediate Level Technicians and Professions,142.5,yes,no,no,no,male,no,19,no,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,single,1st phase - general contingent,5,Communication Design,daytime,Secondary education,122.0,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Basic education 1st cycle (4th/5th year) or eq...,Unskilled Workers,Unskilled Workers,124.8,yes,no,no,no,male,no,19,no,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,single,2nd phase - general contingent,2,Journalism and Communication,daytime,Secondary education,122.0,Portuguese,Basic Education 2nd Cycle (6th/7th/8th Year) o...,Basic education 1st cycle (4th/5th year) or eq...,"Personal Services, Security and Safety Workers...",Intermediate Level Technicians and Professions,119.6,yes,no,no,yes,female,no,20,no,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,married,Over 23 years old,1,Social Service (evening attendance),evening,Secondary education,100.0,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,Unskilled Workers,Unskilled Workers,141.5,no,no,no,yes,female,no,45,no,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

For convenience, we will rename the "Nacionality" into "Nationality" to correct the spelling:

In [9]:
df_renamed = df_raw_3.rename({"Nacionality": "Nationality"}, axis=1)

# Printing our renamed dataframe
df_renamed.info() # Ensuring now that the columns are not int64 type
df_renamed.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   object
 1   Application mode                                4424 non-null   object
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   object
 4   Daytime/evening attendance                      4424 non-null   object
 5   Previous qualification                          4424 non-null   object
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nationality                                     4424 non-null   object
 8   Mother's qualification                          4424 non-null   object
 9   Father's qualification                          4424 non-null   object
 10  Mother's occupation                             4424 non-null   object
 11  Father's occupation                             4424 non-null   object
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   object
 14  Educational special needs                       4424 non-null   object
 15  Debtor                                          4424 non-null   object
 16  Tuition fees up to date                         4424 non-null   object
 17  Gender                                          4424 non-null   object
 18  Scholarship holder                              4424 non-null   object
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   object
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(12), object(18)
memory usage: 1.2+ MB

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nationality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,single,2nd phase - general contingent,5,Animation and Multimedia Design,daytime,Secondary education,122.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Other - 11th Year of Schooling,"Personal Services, Security and Safety Workers...",Unskilled Workers,127.3,yes,no,no,yes,male,no,20,no,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,single,International student (bachelor),1,Tourism,daytime,Secondary education,160.0,Portuguese,Secondary Education - 12th Year of Schooling o...,Higher Education - Degree,Intermediate Level Technicians and Professions,Intermediate Level Technicians and Professions,142.5,yes,no,no,no,male,no,19,no,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,single,1st phase - general contingent,5,Communication Design,daytime,Secondary education,122.0,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Basic education 1st cycle (4th/5th year) or eq...,Unskilled Workers,Unskilled Workers,124.8,yes,no,no,no,male,no,19,no,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,single,2nd phase - general contingent,2,Journalism and Communication,daytime,Secondary education,122.0,Portuguese,Basic Education 2nd Cycle (6th/7th/8th Year) o...,Basic education 1st cycle (4th/5th year) or eq...,"Personal Services, Security and Safety Workers...",Intermediate Level Technicians and Professions,119.6,yes,no,no,yes,female,no,20,no,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,married,Over 23 years old,1,Social Service (evening attendance),evening,Secondary education,100.0,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,Unskilled Workers,Unskilled Workers,141.5,no,no,no,yes,female,no,45,no,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

One problem with this dataset is that it contains many qualitative features, each of which consists of many levels. Additionally, some of these levels represent such a small proportion of observations that they introduce difficulty and needless bulk to the data exploration process.

As an example, we examine the "Application mode" variable.

In [10]:
# How many levels does the "Application mode" variable have?
print("Number of levels: {} \n".format(len(df_renamed["Application mode"].unique())))

# How many observations correspond to each level of the application mode variable?
print(df_renamed.groupby("Application mode").count()["Target"])

Number of levels: 18

Application mode
1st phase - general contingent                         1708
1st phase - special contingent (Azores Island)           16
1st phase - special contingent (Madeira Island)          38
2nd phase - general contingent                          872
3rd phase - general contingent                          124
Change of course                                        312
Change of institution/course                             59
Change of institution/course (International)              1
Holders of other higher courses                         139
International student (bachelor)                         30
Ordinance No. 533-A/99, item b2) (Different Plan)         1
Ordinance No. 533-A/99, item b3 (Other Institution)       1
Ordinance No. 612/93                                      3
Ordinance No. 854-B/99                                   10
Over 23 years old                                       785
Short cycle diploma holders                              35
Technological specialization diploma holders            213
Transfer                                                 77
Name: Target, dtype: int64

As we can see, the "Application mode" variable alone has 18 levels. If all of the qualitative variables are one-hot encoded for modeling, they will add hundreds of feature columns to the dataframe and introduce unneeded bulkiness to the dataset.

Additionally, many of the one-hot encoded features would be sparse. We can see that many of the categories correspond to less than 80 observations, about ~2% of the dataset. These sparse features might interfere with the modeling process, especially if they are not present in the training/test set. To deal with this issue, we will relabel these small categories  as "Other". This will reduce the complexity of the dataset and ensure that the qualitative variables have a workable distribution.

In [11]:
# Getting a list of the names of each categorical feature
cat_cols = [0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 20]
cat_col_names = [df_renamed.columns[i] for i in cat_cols]

reduced_categories = dict()

# Locate the categories that represent fewer than 80 features and relabel them as "Other"
for col in cat_col_names:
    group_count = df_renamed.groupby(col).count().iloc[:,0]
    small_groups = [group for group in group_count.index if group_count.loc[group] < 80]
    reduced_categories[col] = small_groups
    in_small_groups = np.where(df_renamed[col].isin(small_groups))
    df_renamed.loc[in_small_groups[0], col] = "Other"

Now the distributions of each qualitative variable will be more manageable.

In [12]:
# How many levels does the "Application mode" variable have?
print("Number of levels: {} \n".format(len(df_renamed["Father's occupation"].unique())))

# How many observations correspond to each level of the application mode variable?
print(df_renamed.groupby("Father's occupation").count()["Target"])

Number of levels: 12

Father's occupation
Administrative staff                                                                                           386
Armed Forces Professions                                                                                       266
Farmers and Skilled Workers in Agriculture, Fisheries and Forestry                                             242
Installation and Machine Operators and Assembly Workers                                                        318
Intermediate Level Technicians and Professions                                                                 384
Other                                                                                                          177
Personal Services, Security and Safety Workers and Sellers                                                     516
Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers     134
Skilled Workers in Industry, Construction and Craftsmen                                                        666
Specialists in Intellectual and Scientific Activities                                                          197
Student                                                                                                        128
Unskilled Workers                                                                                             1010
Name: Target, dtype: int64

We can see which categories were reduced to "Other."

In [13]:
for col in cat_col_names:
    print("\n"+col+"\n")
    print(reduced_categories[col])

Marital status

['facto union', 'legally separated', 'widower']

Application mode

['1st phase - special contingent (Azores Island)', '1st phase - special contingent (Madeira Island)', 'Change of institution/course', 'Change of institution/course (International)', 'International student (bachelor)', 'Ordinance No. 533-A/99, item b2) (Different Plan)', 'Ordinance No. 533-A/99, item b3 (Other Institution)', 'Ordinance No. 612/93', 'Ordinance No. 854-B/99', 'Short cycle diploma holders', 'Transfer']

Course

['Biofuel Production Technologies']

Daytime/evening attendance

[]

Previous qualification

['10th year of schooling', '10th year of schooling - not completed', '11th year of schooling - not completed', '12th year of schooling - not completed', 'Basic education 2nd cycle (6th/7th/8th year) or equiv.', 'Frequency of higher education', "Higher education - bachelor's degree", 'Higher education - degree (1st cycle)', 'Higher education - doctorate', 'Higher education - master (2nd cycle)', "Higher education - master's", 'Other - 11th year of schooling', 'Professional higher technical course']

Nationality

['Angolan', 'Brazilian', 'Cape Verdean', 'Colombian', 'Cuban', 'Dutch', 'English', 'German', 'Guinean', 'Italian', 'Lithuanian', 'Mexican', 'Moldova (Republic of)', 'Mozambican', 'Romanian', 'Russian', 'Santomean', 'Spanish', 'Turkish', 'Ukrainian']

Mother's qualification

['10th Year of Schooling', '11th Year of Schooling - Not Completed', '12th Year of Schooling - Not Completed', '2nd cycle of the general high school course', '7th Year (Old)', '7th year of schooling', '8th year of schooling', '9th Year of Schooling - Not Completed', 'Can read without having a 4th year of schooling', "Can't read or write", 'Frequency of Higher Education', 'General commerce course', 'Higher Education - Doctorate', 'Higher Education - Doctorate (3rd cycle)', 'Higher Education - Master (2nd cycle)', "Higher Education - Master's", 'Higher education - degree (1st cycle)', 'Other - 11th Year of Schooling', 'Professional higher technical course', 'Specialized higher studies course', 'Technical-professional course', 'Technological specialization course']

Father's qualification

['10th Year of Schooling', '11th Year of Schooling - Not Completed', '12th Year of Schooling - Not Completed', '2nd cycle of the general high school course', '2nd year complementary high school course', '7th Year (Old)', '7th year of schooling', '8th year of schooling', '9th Year of Schooling - Not Completed', 'Can read without having a 4th year of schooling', "Can't read or write", 'Complementary High School Course', 'Complementary High School Course - not concluded', 'Frequency of Higher Education', 'General Course of Administration and Commerce', 'General commerce course', "Higher Education - Bachelor's Degree", 'Higher Education - Doctorate', 'Higher Education - Doctorate (3rd cycle)', 'Higher Education - Master (2nd cycle)', "Higher Education - Master's", 'Higher education - degree (1st cycle)', 'Other - 11th Year of Schooling', 'Professional higher technical course', 'Specialized higher studies course', 'Supplementary Accounting and Administration', 'Technical-professional course', 'Technological specialization course']

Mother's occupation

['(blank)', 'Armed Forces Professions', 'Data, accounting, statistical, financial services and registry-related operators', 'Health professionals', 'Installation and Machine Operators and Assembly Workers', 'Intermediate level science and engineering technicians and professions', 'Intermediate level technicians from legal, social, sports, cultural and similar services', 'Meal preparation assistants', 'Office workers, secretaries in general and data processing operators', 'Other Situation', 'Other administrative support staff', 'Personal care workers and the like', 'Skilled construction workers and the like, except electricians', 'Skilled workers in printing, precision instrument manufacturing, jewelers, artisans and the like', 'Specialists in information and communication technologies (ICT)', 'Technicians and professionals, of intermediate level of health', 'Unskilled workers in agriculture, animal production, fisheries and forestry', 'Unskilled workers in extractive industry, construction, manufacturing and transport', 'Workers in food processing, woodworking, clothing and other industries and crafts', 'cleaning workers', 'personal service workers', 'sellers', 'teachers']

Father's occupation

['(blank)', 'Armed Forces Officers', 'Armed Forces Sergeants', 'Data, accounting, statistical, financial services and registry-related operators', 'Directors of administrative and commercial services', 'Farmers, livestock keepers, fishermen, hunters and gatherers, subsistence', 'Fixed plant and machine operators', 'Health professionals', 'Hotel, catering, trade and other services directors', 'Information and communication technology technicians', 'Intermediate level science and engineering technicians and professions', 'Intermediate level technicians from legal, social, sports, cultural and similar services', 'Market-oriented farmers and skilled agricultural and animal production workers', 'Meal preparation assistants', 'Office workers, secretaries in general and data processing operators', 'Other Armed Forces personnel', 'Other Situation', 'Other administrative support staff', 'Personal care workers and the like', 'Protection and security services personnel', 'Skilled construction workers and the like, except electricians', 'Skilled workers in electricity and electronics', 'Skilled workers in metallurgy, metalworking and similar', 'Specialists in finance, accounting, administrative organization, public and commercial relations', 'Specialists in the physical sciences, mathematics, engineering and related techniques', 'Street vendors (except food) and street service providers', 'Technicians and professionals, of intermediate level of health', 'Unskilled workers in agriculture, animal production, fisheries and forestry', 'Unskilled workers in extractive industry, construction, manufacturing and transport', 'Vehicle drivers and mobile equipment operators', 'Workers in food processing, woodworking, clothing and other industries and crafts', 'assembly workers', 'personal service workers', 'sellers', 'teachers']

Displaced

[]

Educational special needs

['yes']

Debtor

[]

Tuition fees up to date

[]

Gender

[]

Scholarship holder

[]

International

[]

We can also view which classes were retained for each feature:

In [14]:
for col in cat_col_names:
    print("\n"+col+"\n")
    print(df_renamed[col].unique())

Marital status

['single' 'married' 'divorced' 'Other']

Application mode

['2nd phase - general contingent' 'Other' '1st phase - general contingent'
 'Over 23 years old' '3rd phase - general contingent'
 'Technological specialization diploma holders' 'Change of course'
 'Holders of other higher courses']

Course

['Animation and Multimedia Design' 'Tourism' 'Communication Design'
 'Journalism and Communication' 'Social Service (evening attendance)'
 'Management (evening attendance)' 'Nursing' 'Social Service'
 'Advertising and Marketing Management' 'Basic Education'
 'Veterinary Nursing' 'Equinculture' 'Oral Hygiene' 'Management'
 'Agronomy' 'Other' 'Informatics Engineering']

Daytime/evening attendance

['daytime' 'evening']

Previous qualification

['Secondary education'
 'Basic education 3rd cycle (9th/10th/11th year) or equiv.' 'Other'
 'Technological specialization course' 'Higher education - degree']

Nationality

['Portuguese' 'Other']

Mother's qualification

['Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.'
 'Secondary Education - 12th Year of Schooling or Eq.'
 'Basic education 1st cycle (4th/5th year) or equiv.'
 'Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.'
 'Higher Education - Degree' 'Other'
 "Higher Education - Bachelor's Degree" 'Unknown']

Father's qualification

['Other' 'Higher Education - Degree'
 'Basic education 1st cycle (4th/5th year) or equiv.'
 'Basic Education 2nd Cycle (6th/7th/8th Year) or Equiv.'
 'Secondary Education - 12th Year of Schooling or Eq.'
 'Basic Education 3rd Cycle (9th/10th/11th Year) or Equiv.' 'Unknown']

Mother's occupation

['Personal Services, Security and Safety Workers and Sellers'
 'Intermediate Level Technicians and Professions' 'Unskilled Workers'
 'Skilled Workers in Industry, Construction and Craftsmen'
 'Administrative staff'
 'Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers'
 'Other' 'Student'
 'Farmers and Skilled Workers in Agriculture, Fisheries and Forestry'
 'Specialists in Intellectual and Scientific Activities']

Father's occupation

['Unskilled Workers' 'Intermediate Level Technicians and Professions'
 'Skilled Workers in Industry, Construction and Craftsmen'
 'Armed Forces Professions'
 'Personal Services, Security and Safety Workers and Sellers'
 'Installation and Machine Operators and Assembly Workers'
 'Administrative staff'
 'Representatives of the Legislative Power and Executive Bodies, Directors, Directors and Executive Managers'
 'Specialists in Intellectual and Scientific Activities' 'Other'
 'Farmers and Skilled Workers in Agriculture, Fisheries and Forestry'
 'Student']

Displaced

['yes' 'no']

Educational special needs

['no' 'Other']

Debtor

['no' 'yes']

Tuition fees up to date

['yes' 'no']

Gender

['male' 'female']

Scholarship holder

['no' 'yes']

International

['no' 'yes']

---

## Andres doing Feature Selection

### Blueprint

- Separate dataframe into categorical and numerical features dataframes.
- Do label encoder for all categorical variables in categorical dataframe.
- Do Cramer's V Matrix and turn it into a heat map. Add explanation of method (Categorical Variables: Anything > 0.5 drop one).
- Do Pearson Correlation matrix and turn that into a heat map. Add explanation (|r| > 0.8 drop one).
- Do ANOVA on numerical and target. Add Explanation.
- Bring the all the columns back together into one big dataframe for Jackson to use in visualization.